/* Featured Properties */
.featured-properties .card a:hover {
  text-decoration: none;
}

.featured-properties .card a:hover .property__agent {
  opacity: 0.5;
}

.featured-properties .header {
  height: 73px;
  position: relative;
  top: -40px;
  margin-left: 20px;
  margin-top: 10px;
}

.featured-properties .custom-h2 {
  font-size: 18px;
  padding-left: 0px;
  color: white;
  margin-bottom: 14px;
}

.featured-properties .property__agent {
  font-size: 14px;
}

.domain-home__dream-homes-wrapper {
  padding-left: 20px;
}

.property {
  font-size: 14px;
  flex: 1 1 auto;
  padding: 18px;
}

.image-wrapper:hover img {
  /* whenever user hovers over image container */
  transform: scale(1.1);
}

.image-wrapper {
  overflow: hidden;
}

.slide-img,
.featured-properties .image-wrapper,
.featured-properties .image-wrapper::after {
  width: 100%;
  height: 189px;
  transition: transform 0.5s ease;
}

.featured-properties .image-wrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 189px;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(transparent, rgba(12, 31, 69, 0.5));
}

.featured-properties .property-state {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
}

.featured-properties .region::after {
  position: absolute;
  content: '';
  margin-left: 10px;
  margin-top: 10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
}

ol {
  list-style: none;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ol > li {
  font-size: 17px;
  display: flex;
  align-items: center;
}

svg {
  width: 18px;
  height: 18px;
  margin-left: 2px;
  margin-right: 8px;
}
