/* footer-main-structure */

.footer-main {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #0b2047;
}

.column-link {
  font-size: 14px;
  color: #515b6e;
}
.column-link:hover {
  color: #fff;
}

.footer-main__wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.footer-main__wrapper-content {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
